<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Vendas</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<a href="/menusistema"><--Menu</a>
<br/>
<br/>

<h1>Pedido</h1>

        <label> Vendedor: </label>
        <br/><br/>
        <label> Cliente: </label>

<br/><br/>

<form action="pesquisarMed" method="get" id="pesquisarMed">
    <label for="medPesquisa">Pesquisar Medicamento</label>

    <input name="medPesquisa" id="medPesquisa" />

    <input type="submit" value="pesquisar" />
</form>


<table id="tbl1">
    <thead>
    <th>Codigo</th>
    <th>Descrição</th>
    <th>Valor uni.</th>
    <th>Quantidade</th>
    </thead>

    <tr th:each="produto : ${produtos}">
        <td id="id" th:text="${produto.id}"></td>
        <td id="nome" th:text="${produto.nome}"></td>
        <td id="preco" th:text="${produto.preco}"></td>
        <td><input type="text"/></td>
    <td>
            <button th:action="/addproduto">Adicionar</button>
        </td>
    </tr>
</table>

</body>
</html>