<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Vendas</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<a href="/menusistema"><--Menu</a>
<br/>
<br/>

<h1>Balcao de Vendas</h1>

    <form action="pesquisarPessoa" method="get">
        <h5>Pesquisar cliente</h5>
        <input name="nomepesquisa" id="nomepesquisa">
        <input type="submit" value="Pesquisar">
    </form>

<br/>
<br/>
    <table class="striped">
        <thead>
            <tr>
                <td>Id:</td>
                <td>Nome:</td>
            </tr>
        </thead>
        <tr th:each="cliente : ${clientesLista}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td><a href="vendas">Realizar Venda</a></td>
        </tr>
    </table>

</body>
</html>