<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vendas</title>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<a href="/menusistema"><--Menu</a>
<body> <h1>Pedido</h1>

<form action="pesquisarMed" method="post" id="pesquisarMed">
    <label for="medPesquisa">Pesquisar Medicamento</label>

    <input name="medPesquisa" id="medPesquisa">

    <input type="submit" value="pesquisar">
</form>

<table>

    <thead>
        <th> Codigo</th>
        <th>Descrição</th>
        <th>Valor uni.</th>
        <th>Quantidade</th>

    </thead>

    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}"> </td>
        <td th:text="${produto.nome}" ></td>
        <td th:text="${produto.preco}" ></td>
        <td th:text="${produto.quant_estoque}"></td>
       <td> <a href="adicionarProduto?produtoid=${produto.id}&listaprodutos=${produtos}">Adicionar</a>
       </td>
    </tr>

</table>

<table>
    <caption><h4>Lista de compras</h4></caption>

    <tr>
        <td>Codigo</td>
        <td>Descrição</td>
        <td>Valor uni.</td>
        <td>Quantidade</td>
    </tr>

    <tr th:each="addproduto : ${addProdutos}">
        <td th:text="${addproduto.id}"> </td>
        <td th:text="${addproduto.nome}" ></td>
        <td th:text="${addproduto.preco}" ></td>
        <td th:text="${addproduto.quant_estoque}"></td>
    </tr>

</table>

<script>
    function adicionaLinha(tbl) {
        var Codigo = document.getElementById('id').value;
        var Nome = document.getElementById('nome').value;
        var Valor = document.getElementById('preco').value;
        var Quantidade = document.getElementById('quantidade').value;
        var tabela = document.getElementById(idTabela);

        var numeroLinhas = tabela.rows.length;
        var linha = tabela.insertRow(numeroLinhas);

        var celula1 = linha.insertCell(0);
        var celula2 = linha.insertCell(1);
        var celula3 = linha.insertCell(2);
        var celula4 = linha.insertCell(3);

        celula1.innerHTML = Codigo;
        celula2.innerHTML = Nome;
        celula3.innerHTML = Valor;
        celula4.innerHTML = Quantidade;
    }

    function removeLinha(linha) {
        var i = linha.parentNode.parentNode.rowIndex;
        document.getElementById('tbl').deleteRow(i);
    }
</script>

</body>
</html>