<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendas</title>
</head>
<body>

<h1>Vendas</h1>

<label>Nome do cliente</label>
<input name="cliente">


<br/> <br/>

<label>Vendedor</label>
<input name="usuario">

<br/> <br/>

<label>Produto</label>
<input name="produto">

<br/> <br/>
<table>


    <tr>

        <th>Codigo</th>
        <th>Nome do produto</th>
        <th>Fabricante</th>
        <th>Preco real</th>
        <th>Quant</th>
        <th>Desconto</th>
        <th>preco</th>
        <th>total Valor</th>


    </tr>

    <tr>

        <td>65145522</td>
        <td>Dipirola</td>
        <td>Doglex</td>
        <td>15,52</td>
        <td>5</td>
        <td>2%</td>
        <td>75.00</td>
        <td>73,50</td>
    </tr>




</table>

</body>
</html>