<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8" />
    <title>Vendas</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<a href="/menusistema"><--Menu</a>
<html>

<h1>Cadastro de Produto</h1>

<form action="/salvarproduto" method="post" id="formCliente">

    <label>Codigo: </label>
    <input name="id">

    <label>Descrição: </label>
    <input name="nome">

    <label>Preço</label>
    <input name="preco">

    <label>Quantidade: </label>
    <input name="quant_estoque">

    <input type="submit" value="enviar">

</form>



<body action="pesquisarProduto" method="post">

    <label for="medPesquisa">Pesquisar produto</label>

    <input id="medPesquisa" name="medPesquisa">
    <form action="pesquisarMed" method="post" id="pesquisarMed">
        <label for="medPesquisa">Pesquisar Medicamento</label>


        <input type="submit" value="pesquisar" />
    </form>

    <table>
        <th>Codigo</th>
        <th>Descrição</th>
        <th>Preco</th>
        <th>Quantidade</th>

        <tr th:each=" produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quant_estoque}"></td>
        </tr>

    </table>

    </body>
</html>