<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Usuario</title>
</head>
<body>

	<h1>Cadastro Usuário</h1>

	<form action="/salvarusuario" id="formUsuario" method="post">

		<div>
			<label>Nome usuário</label> 
			<input name="nome">
		</div>
		<br/>
		<div>
			<label>Login: </label> 
			<input name="login">
		</div>
		<br/>
		<div>
			<label>Senha: </label> 
			<input type="password" name="senha">
		</div>
		
		<div> 
			<input type="submit" value="Salvar">
		</div>


	</form>



</body>
</html>