<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<h1>Cadastro de Cliente</h1>

<form action="/salvarproduto" method="post" id="formCliente">

    <label>Descrição: </label>
    <input name="nome">

    <label>Preço</label>
    <input name="preco">

    <label>Quantidade: </label>
    <input name="quant_estoque">

    <input type="submit" value="enviar">



</form>

</body>
</html>