<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

	<h1>Menu System</h1>
	
	
	<a href="/cadastro_usuario">Cadastro Usuário</a><br/><br/>
	<a href="/cadastro_cliente">Cadastro Cliente</a><br/><br/>
	<a href="/cadastro_produto">Cadastro Produto</a><br/><br/>

	<a href="/pedido">Pedido</a>
	
	

</body>
</html>